*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
h2{
    color: #343944;
    font-size: 3rem;
}
.container{
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 1%;
}
.logo{
    /* border: 1px solid; */
    width: 10%;
    float: left;
}
.resLogo{
    width: 100%;
}
.right{
    text-align: right;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
.menu ul li a{
    color:#ff6b81;
}
.menu ul li a:hover{
    color: #fd2f40;
}
a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #fd2f40;
}
.food-search{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.textCenter{
    text-align: center;
}
.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;

}
.btn-primary{
    background-color: #ee8898;
    color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: #f5576f;
}

.category{
    padding: 4% 0;
}
.box1{
    /* width: 200px; */
    /* height: 180px; */
    display: inline-block;
    overflow: hidden;
    padding: 5rem 3rem;
}
.box1 img{
    border-radius: 15px;
}
.pe{
    position: relative;
    /* padding-bottom: 100rem; */
}
.food-menu-box{
/* border: 1px solid; */
/* width: 45%;
margin-right: 0;
padding-left: 10rem;
margin-left: 10rem; */
align-items: center;

}
.food-menu{
    background-color: #ececec;
    align-items: center;
    
}
.food-menu-img{
    border-radius: 10px;
    margin-top: 5rem;
}
h2{
    text-align: center;
    padding: 2rem 0;
}
.food-menu-desc{
    padding: 3rem 35rem 0 ;
}
.btns{
    background-color: #ee8898;
    color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 14px;
    /* float: right; */
    /* margin-bottom: 110%; */
    line-height: 4;
    margin-left: 37%;
}
.food-menu-desc .btn:hover{
    background-color: #fc677d;
    color: aliceblue;
    cursor: pointer;
    /* border-radius: 10px; */
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 40%;
    /* float: left; */
    padding: 20px;
    /* border: 2px solid red;*/
    padding-left: 29%;
}  
.food-menu-desc h4{
    font-size: 30px;
    text-align: center;
}
.food-menu-desc p{
    font-size: 20px;
    text-align: center;
}
.social ul{
    /* align-items: center; */
    text-align: center;
    /* float: left; */
    list-style-type: none;
    line-height: 5;
}
.last{
    text-align: center;
}
.last span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: large;
}
.box1 h3{
    margin-top: 1rem;
    font-size: larger;
    margin-left: 11rem;
}